# Clés SSH
.ssh/
github-deploy-key*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Backend
backend/target/
backend/.mvn/
backend/mvnw.cmd

# Logs
logs/
*.log

# Local
data/
docker-compose.local.yml
Caddyfile.local

# OS
.DS_Store